<a href="https://colab.research.google.com/github/MaryamNourii/Knowledge-Tracing_Recommendation-system-/blob/main/RS_Assistment2017_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install EduData

In [ ]:
!edudata download assistment-2017 /content/assistment-2017

downloader, INFO http://base.ustc.edu.cn/data/ASSISTment/anonymized_full_release_competition_dataset.zip is saved as /content/assistment-2017/anonymized_full_release_competition_dataset.zip
Downloading /content/assistment-2017/anonymized_full_release_competition_dataset.zip 100.00%: 65.1MB | 65.1MB
downloader, INFO /content/assistment-2017/anonymized_full_release_competition_dataset.zip is unzip to /content/assistment-2017/anonymized_full_release_competition_dataset
/content/assistment-2017/anonymized_full_release_competition_dataset

In [ ]:
!unzip -qx /content/assistment-2017/anonymized_full_release_competition_dataset.zip -d ass

In [326]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from keras.layers import Input, Dense, LSTM
from keras.models import Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.optimizers import Adam

In [65]:
path = "/content/ass/anonymized_full_release_competition_dataset.csv"
df = pd.read_csv(path, encoding = "ISO-8859-15",low_memory=False)
df

,studentId,MiddleSchoolId,InferredGender,SY ASSISTments Usage,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,...,RES_CONFUSED,RES_FRUSTRATED,RES_OFFTASK,RES_GAMING,Ln-1,Ln,MCAS,Enrolled,Selective,isSTEM
0,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.000000,0.785585,0.000264,0.13,0.061190409,45,0,0,NaN
1,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.000000,0.468252,0.001483,0.061190409,0.213509945,45,0,0,NaN
2,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.000000,0.468252,0.001483,0.116,0.033305768,45,0,0,NaN
3,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.000000,0.108417,0.010665,0.116,0.033305768,45,0,0,NaN
4,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.000000,0.108417,0.010665,0.033305768,0.118385889,45,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942811,7783,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.000000,0.122595,0.000092,0.054517257,0.053783108,28,1,0,NaN
942812,7783,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.633474,0.000000,0.122595,0.002815,0.053783108,0.053673232,28,1,0,NaN
942813,7783,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.000000,0.122595,0.101184,0.053783108,0.053673232,28,1,0,NaN
942814,7783,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.000000,0.122595,0.101184,0.053783108,0.053673232,28,1,0,NaN
942815,7783,1,NaN,2005-2006,0.210902,0.094888,0.456522,276,0.271812,0.611678,...,0.000000,0.009561,0.122595,0.010665,0.780148343,0.918158873,28,1,0,NaN

In [66]:
data1 = df[['studentId','skill', 'problemId', 'correct']].copy()
data1

,studentId,skill,problemId,correct
0,8,properties-of-geometric-figures,1118,0
1,8,properties-of-geometric-figures,1119,1
2,8,sum-of-interior-angles-more-than-3-sides,1120,0
3,8,sum-of-interior-angles-more-than-3-sides,1120,0
4,8,sum-of-interior-angles-more-than-3-sides,1121,1
...,...,...,...,...
942811,7783,mean,2272,1
942812,7783,mean,2273,0
942813,7783,mean,2273,0
942814,7783,mean,2273,1
942815,7783,multiplying-decimals,836,1

In [302]:
data1.groupby('studentId')['problemId'].count().sort_values().groupby(level=0).tail(1)

studentId
5163       2
1868      12
1667      12
6514      19
7296      20
        ...
5471    2375
954     2496
1079    2593
3609    2742
1483    3057
Name: problemId, Length: 1709, dtype: int64

In [303]:
data = data1[data1['studentId']==1483]
# data = data1.groupby(data1['studentId'])
data.reset_index(inplace=True, drop=True)
# data.value_counts()
data

      studentId        skill  problemId  correct
0          1483   proportion       1174        1
1          1483  square-root       1093        0
2          1483  square-root       1094        0
3          1483  square-root       1094        0
4          1483  square-root       1094        0
...         ...          ...        ...      ...
3052       1483     discount       1199        0
3053       1483     discount       1199        0
3054       1483     discount       1199        0
3055       1483     discount       1200        1
3056       1483         area       1204        1

[3057 rows x 4 columns]

In [ ]:
le = LabelEncoder()
data['skill_index'] = le.fit_transform(data['skill'])
data['skill_index']

In [ ]:
le = LabelEncoder()
data['problem_index'] = le.fit_transform(data['problemId'])
data['problem_index']

In [308]:
num_skill = len(data['skill'].unique())
num_skill

63

In [309]:
def convert_to_input_vector(qt, at, num_skills):
  input_vector = np.zeros(2*num_skill)
  output_vector = np.zeros(num_skill)

  skill_index = qt
  correct = at
  # if num_skill<100:
  if at:
    answer_index = skill_index
  else:
    answer_index = num_skill + skill_index

  input_vector[answer_index] = 1
  output_vector[skill_index] = at  # else:
  #     input_vector = np.random.normal(size=32)
  return input_vector,output_vector

In [310]:
if num_skill <= 102:
    X = np.zeros((len(data), 2*num_skill))
    Y = np.zeros((len(data), num_skill))
    # for _, group in data.groupby('user_id'):
    current_sequence=[]
    for i, row in data.iterrows():
        input_vector,output_vector = convert_to_input_vector(row['skill_index'], row['correct'], num_skill)
        X[i]= input_vector
        Y[i] = output_vector

In [311]:
X.shape, Y.shape

((3057, 126), (3057, 63))

In [312]:
num_problems=len(data)
num_problems

3057

In [454]:
X_train, X_val, y_train, y_val = train_test_split(X, Y, test_size=0.1, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.001, random_state=42)

X_train=X_train.reshape((X_train.shape[0],1, X_train.shape[1]))
y_train=y_train.reshape((y_train.shape[0],1, y_train.shape[1]))
X_test=X_test.reshape((X_test.shape[0],1, X_test.shape[1]))
y_test=y_test.reshape((y_test.shape[0],1, y_test.shape[1]))
X_val=X_val.reshape((X_val.shape[0],1, X_val.shape[1]))
y_val=y_val.reshape((y_val.shape[0],1, y_val.shape[1]))
y_train.shape,X_train.shape,X_val.shape,y_val.shape,X_test.shape,y_test.shape

((2748, 1, 63),
 (2748, 1, 126),
 (306, 1, 126),
 (306, 1, 63),
 (3, 1, 126),
 (3, 1, 63))

In [455]:
inputs = Input(shape=(None,2*num_skill))
lstm1 = LSTM(128, return_sequences=True)(inputs)
output = Dense(num_skill, activation='sigmoid')(lstm1)
model = Model(inputs=inputs, outputs=output)

In [456]:
# lr = 0.001
# adam = Adam(learning_rate=lr)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train,y_train,batch_size=32, epochs=100, validation_data=(X_val, y_val),shuffle=True)

In [ ]:
model.save('dkt_model.h5')

In [ ]:
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

In [ ]:
# from keras.callbacks import EarlyStopping

# early_stop = EarlyStopping(monitor='val_accuracy', patience=3, mode='max', verbose=1)

# model.fit(X_train, y_train, batch_size=64, epochs=100,  validation_data=(X_val, y_val),shuffle=True)#, callbacks=[early_stop])

In [356]:
# from keras.callbacks import LearningRateScheduler

# lr_init = 0.1
# lr_decay = 0.001

# def lr_schedule(epoch):
#     print(lr_init * lr_decay ** epoch)
#     return lr_init * lr_decay ** epoch

# adam = Adam(lr=lr_init)

# model.compile(optimizer=adam, loss='binary_crossentropy', metrics=['accuracy'])

# lr_scheduler = LearningRateScheduler(lr_schedule)

# model.fit(X_train, y_train, batch_size=32, epochs=100, callbacks=[lr_scheduler])